.main-container {
    height: 100vh;
    align-items: center;
    background: #111;
    display: block;
  }

  .main-container #image-container {
    /* flex: 1; */
    height: 100%;
    position: fixed;
    width: 100%;
  }

  .logo-container {
    position: fixed;
    top: 0;
  }

  img {
    --a: 8deg; /* control the angle of rotation (the smaller, the better) */

    border-radius: 20px;
    transform: perspective(400px) rotate3d(var(--r,1,-1),0,calc(var(--i,1)*var(--a)));

    transition: .4s;
    cursor: pointer;
  }
  .alt {
    --r: 1,1;
  }
  img:hover {
    --i: -5;
    -webkit-mask-position: 0 0;
  }
  .alt:hover {
    -webkit-mask-position: 100% 0;
  }

  /* Image styling */
  .log-image {
    width: 40vw; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  #earth{
    display: none;
    --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));    cursor: default;
    background: var(--background);
    box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
    width: 35vw;
    align-items: center;
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    color: white;
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #333;
  }


  #taskbar {
    background-color: #1c1c1c;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #555;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  
.link-2 {
  width: 3rem;
  height: erem;
  border: 1px solid hsla(0, 0%, 100%, .4);
  border-radius: 100rem;

  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 1rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.link-2::before {
  content: '×';

  transform: translateY(-.1rem);
}

.link-2:hover,
.link-2:focus {
  background: var(--focus);
  border-color: var(--focus);
  transform: translateY(-.2rem);
}
  

.modal__btn {
  margin-top: 4rem;
  padding: 1rem 1.6rem;
  border: 1px solid var(--border-color);
  border-radius: 100rem;
  color: inherit;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;
}

.modal__btn:nth-of-type(1) {
  margin-right: 1rem;
}

.modal__btn:hover,
.modal__btn:focus {
  border-color: var(--focus);
  transform: translateY(-.2rem);
}

#arrow-container{
  position: absolute;
  float: left;
  padding: 10px;
  top: 50vh;
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.arrow-button {
  display: flex;
  color: #C2FFE9;
  background-color: #00E692;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 14px;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  transform: rotate(-225deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-225deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: #017A4F;
  color: #fff;
}

.arrow-button2 {
  display: flex;
  color: #C2FFE9;
  background-color: #00E692;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.arrow-button2 > .arrow2 {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button2 > .arrow2::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button2:hover > .arrow2 {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button2:hover > .arrow2::before {
  opacity: 1;
  width: 8px;
}

.arrow-button2:hover {
  background-color: #017A4F;
  color: #fff;
}

@media all and (max-width:30em){
    #arrow-container{
      padding: 0;
    }
  }


  a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
